# To ignore screenshots
# .screenshots/

# Ignore pycache
poll-app/Mysite/poll/__pycache__

poll-app/Mysite/poll/migrations/__pycache__

# Virtual environments
venv/


# Per project settings
.idea/
.vim/
.undodir/
.vscode/

# The database Obviusly :/
poll-app/Mysite/db.sqlite3
